:root{
    --primary-color: rgb(212, 212, 248);;
    --secondary-color:rgb(206, 206, 217);
    --third-color:black;
    --forth-color: rgb(173, 173, 219);
    
}
.row{
    margin-left: 40px !important;
    margin-right: 40px !important;

}
.main{
    background-color: var(--secondary-color);
}
/* row-1 */
/* #sign{
    border: 1px solid red;
} */



/* row-2 */
.row-2{
    /* border: 1px solid rgb(15, 2, 2); */
    /* margin-top: 80px; */
    height: 300px;
    background-color: var(--secondary-color);
}
.background-container{
    position: relative;
}
#pic{
    opacity: 1;
    height: 400px;
}
.text-on-image{
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#aboutme a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}
#profilephoto{
    height: 300px;
    width: 280px;
    margin-left: 200px;
    /* padding-bottom: 100px; */
    /* border: 1px solid red; */
}
.typewriter-container {
    display: inline-block;
    text-align: justify;
    /* padding-top: 50px; */
/*  */
/* border: 1px solid red; */
    text-align: center;
    padding-top: 30px;
    overflow:visible;
    height: 300px;

}

#cursor {
    border-right: 2px solid red;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: red; }
}
/* for header */
header {
    position: fixed;
    top: -60px; /* Hide the menu off-screen */
    left: 0;
    width: 100%;
    background: var(--forth-color);
    /* #f0dede; */
    color: white;
    transition: top 0.3s;
    z-index: 1000;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.content {
    padding-top: 80px; /* Space for the fixed menu */
}

section {
    padding: 50px;
    border-bottom: 1px solid #ddd;
}

section h4 {
    margin-top: 0;
}